Source: neard
Maintainer: Samuel Ortiz <sameo@linux.intel.com>
Section: net
Priority: optional
Build-Depends: debhelper (>= 8), libglib2.0-dev (>= 2.28), libdbus-1-dev (>= 1.4), libnl-dev (>= 1.1)

Package: neard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: bluez
Description: neard NFC daemon
 This unofficial package contains the neard NFC daemon
 .
 neard is an NFC system level daemon that manages NFC adapters.
 .
 neard can read and write NFC tags, and send and receive data from
 NFC peers. It supports:
  * Types 1, 2, 3 and 4 tags reading and writing.
  * SNEP (Simple NDEF Exchange Format) for exchanging data with NFC peers.
  * Bluetooth NFC Handover in both selector and requester modes.

Package: neard-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, neard (>= 0.8)
Description: NFC command line tools
 This package contains the nfctool command line tool and
 neard test scripts.

Package: neard-doc
Section: doc
Architecture: any
Depends:
Description: neard documentation
 This unofficial package contains documentation of the neard D-Bus APIs
