#!/usr/bin/make -f
%:
	dh $@ --with python2

override_dh_auto_configure:
	./configure \
		--prefix=/usr \
		--sysconfdir=/etc \
		--enable-debug \
		--enable-tools

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp libexecdir=/usr/lib/neard/ install

override_dh_python2:
	dh_python2 /usr/lib/neard/tools/
